<style>
.main-page:hover {
  background-color: #404244;
}
.main-content {
  transition: width 0.5s ease-in-out;
}
</style>
<div class="main-content w-[260px] h-svh bg-[#303132] sticky top-0">
  <div class="px-3 py-3.5 w-full h-full">
    <a class="main-page flex h-11 w-full gap-2 items-center" href="/" style="border-radius: 20px;">
      <div class="">
        <img src="/source/image/meoden.png" alt="" class="h-10" style="border-radius: 50%;">
      </div>
      <div class="text-white">Quản lý lịch</div>
    </a>
  </div>
</div>